{% extends "template.html" %}

{% block title %}Exam list{% endblock title %}
{% block h1 %}Exam list{% endblock h1 %}

{% block contents %}
        {% for exam in exams %}
        <h3 class="text-info">
            {{ exam.name }}
        </h3>
        <p>
            Dispensé par <a href="professor/{{ exam.professor.pk }}">{{ exam.professor.first_name }} {{ exam.professor.last_name }}</a><br />
            Date : {{ exam.date }} {{ exam.h_start }}h{{ exam.m_start }} (timeslot {{ exam.timeslot }})<br />
            Room : <a href="room/{{ exam.room.pk }}">{{ exam.room.name }}</a><br />
        </p> <a href="exam/{{ exam.pk }}" class="btn btn-default" type="button">Details</a>
        {% endfor %}
{% endblock contents %}
