{% extends "template.html" %}

{% block title %}{{ exam.name }}{% endblock title %}
{% block h1 %}{{ exam.name }}{% endblock h1 %}

{% block contents %}
<h3 class="text-info">
    {{ exam.name }}
</h3>

<p>
    Professor : <strong><a href="/professor/{{exam.professor.pk}}">{{ exam.professor }}</a></strong>
</p>

<p>
    Faculty : <strong>{{ exam.faculty }}</strong><br />
    Room needed : {{ exam.room_type }}<br />
    Room assigned : <a href="/room/{{ exam.room.pk }}">{{ exam.room }}</a><br/>
    Date : {{ exam.date }} {{ exam.h_start }}h{{ exam.m_start }}<br />
    Timeslot assigned : <strong>{{ exam.timeslot }}</strong>
</p>

<p>
    {% if exam.dependencies.all|length == 0 %}
    No dependency
    {% else %}
    Dependencies :
    <ul>
    {% for exam_dep in exam.dependencies.all %}
        <li>{{ exam_dep }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</p>
<p>
    Students ({{ exam.students.all|length }}) :
    <ul>
        {% for student in exam.students.all %}
        <li><a href="/student/{{ student.pk }}">{{ student }}</a></li>
        {% endfor %}
    </ul>
</p>
{% endblock contents %}
