{% extends "template.html" %}

{% block title %}Home{% endblock title %}
{% block h1 %}Home{% endblock h1 %}

{% block contents %}
        <p>Shortcuts : <a href="#exams">Examinations</a> - <a href="#students">Students</a> -
        <a href="#professors">Professors</a> - <a href="#rooms">Rooms</a></p>
        <h2 class="text-info" id="exams">
          Examinations list
        </h2>

        <p>
          <ul>
          {% for exam in exams %}
            <li><a href="/exam/{{ exam.pk }}">{{ exam.name }}</a></li>
          {% endfor %}
          </ul>
        </p>

        <h2 class="text-info" id="professors">
          Professors list
        </h2>

        <p>
          <ul>
          {% for professor in professors %}
            <li><a href="/professor/{{professor.pk}}">{{ professor }}</a></li>
          {% endfor %}
          </ul>
        </p>

        <h2 class="text-info" id="students">
          Students list
        </h2>

        <p>
          <ul>
          {% for student in students %}
            <li><a href="/student/{{ student.pk }}">{{ student }}</a></li>
          {% endfor %}
          </ul>
        </p>

        <h2 class="text-info" id="rooms">
          Room list
        </h2>

        <p>
          <ul>
          {% for room in rooms %}
            <li><a href="/room/{{room.pk }}">{{ room }}</a></li>
          {% endfor %}
          </ul>
        </p>
{% endblock contents %}