{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Timetable scheduler - {{ title }} list</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

  </head>

  <body>
    <div class="container">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="page-header">
        <h1>
          Timetable scheduler  <small>{{ title }} List</small>
        </h1>
      </div>
    </div>
    </div>
    </div>
    <div class="container">
    <div class="row clearfix">
    <div class="col-md-9 column">
      <p>
        <ul>
          {% for element in list %}
            <li><a href="/{{ url }}/{{ element.pk }}">{{ element }}</a></li>
          {% endfor %}
        </ul>
      </p>
    </div>
    <div class="col-md-3 column">
      <ul class="nav nav-stacked nav-pills border">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/exams">Exam list</a>
        </li>
        <li>
          <a href="/professors">Professor list</a>
        </li>
        <li>
          <a href="/exams">Student list</a>
        </li>
        <li>
          <a href="/rooms">Room list</a>
        </li>
      </ul>
    </div>
    </div>
    </div>
  </body>
</html>
