{% extends "template.html" %}
{% load staticfiles %}

{% block title %}{{ title }} schedule{% endblock title %}
{% block h1 %}{{ title }} schedule{% endblock h1 %}

{% block css %}
<link href="{% static "css/fullcalendar/fullcalendar.css" %}" rel="stylesheet" />
<link href="{% static "css/fullcalendar/fullcalendar.print.css" %}" rel="stylesheet" media="print" />
<link href="{% static "css/calendar.css" %}" rel="stylesheet" />
{% endblock css %}

{% block contents %}
<div id='calendar'></div>
{% endblock contents %}

{% block script %}
    <script src="{% static "lib/jquery.min.js" %}"></script>
    <script src="{% static "lib/jquery-ui.custom.min.js" %}"></script>
    <script src="{% static "css/fullcalendar/fullcalendar.js" %}"></script>
    <script>
      $(document).ready(function() {

          var date = new Date();
          var d = date.getDate();
          var m = date.getMonth();
          var y = date.getFullYear();

          $('#calendar').fullCalendar({
              timeFormat : 'H:m ',
              month : {{ timetable.start.month }}-1,
              year : {{ timetable.start.year }},
              date : {{ timetable.start.day }},
              theme: false,
              header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'month,agendaWeek'
              },
              editable: false,
              hiddenDays : [0], // 0 Sunday and 6 Saturday
              events: [
              {% for exam in exams %}
                  {
                      backgroundColor: "{{ exam.color }}",
                      borderColor: "{{ exam.color }}",
                      url : "/exam/{{ exam.pk }}",
                      title: "{{ exam.name }}",
                      start: new Date(y, {{ exam.month }}, {{ exam.day }}, {{ exam.h_start }}, {{ exam.m_start }}),
                      end: new Date(y, {{ exam.month }}, {{ exam.day }}, {{ exam.h_end }}, {{ exam.m_end }}),
                      allDay: false
                  },
              {% endfor %}
              ]
          });
      });
    </script>
{% endblock script %}
