{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="{% static "css/fullcalendar/fullcalendar.css" %}" rel="stylesheet" />
    <link href="{% static "css/fullcalendar/fullcalendar.print.css" %}" rel="stylesheet" media="print" />
    <title>Horaire pour {{ first_name }} {{ last_name }}</title>

    <script src="{% static "lib/jquery.min.js" %}"></script>
    <script src="{% static "lib/jquery-ui.custom.min.js" %}"></script>
    <script src="{% static "css/fullcalendar/fullcalendar.js" %}"></script>
    <script>

    $(document).ready(function() {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            theme: false,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek'
            },
            editable: false,
            events: [
            {% for exam in exams %}
                {
                    exam_id : {{ exam.pk }},
                    title: "{{ exam.name }}",
                    start: new Date(y, {{ exam.month }}, {{ exam.day }}, {{ exam.h_start }}, {{ exam.m_start }}),
                    end: new Date(y, {{ exam.month }}, {{ exam.day }}, {{ exam.h_end }}, {{ exam.m_end }}),
                    allDay: false
                },
            {% endfor %}
            ]
        });
    });

    </script>
<style>

    body {
        margin-top: 40px;
        text-align: center;
        font-size: 13px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

    #calendar {
        width: 900px;
        margin: 0 auto;
        }

</style>
</head>
<body>
<h1>Horaire pour {{ first_name }} {{ last_name }}</h1>
<div id='calendar'></div>
</body>
</html>
